<div class="tabs">
  <ul>
    <li><a href="/responsibility_list" id="tab-list">Responsibility list</a></li>
    <li><a href="/memberships"  class="selected" id="tab-memberships">Memberships</a></li>
  </ul>
</div>

<h1>memberships</h1>
<table class="list">
  <thead>
    <tr>
      <th><%= t(:project) %></th>
      <th>user</th>
      <th>role</th>
      <th>given / taken away</th>
      <th>date</th>
    </tr>
  </thead>
  <tbody>
      <% @memberships.each do |membership| %>
        <tr style="height:25px;">
          <td style="width:10%"><%= link_to membership.project, project_path(membership.project) %></td>
          <td style="width:10%"><%= multiple_user_link(membership.user.login) %></td>
          <td style="width:10%"><%= Role.find(membership.role_id).name %></td>
          <td style="width:10%"><%= membership.given ? "<img src='images/toggle_check.png'>".html_safe : "<img src='images/unlock.png'>".html_safe %></td>
          <td style="width:10%"><%= membership.created_at.to_s(:db) %></td>
        </tr>
      <% end %>
  </tbody>
</table>
